* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}
body {
    background-color:#f9fafb;
    color: #1f2933;
}
.circle-img {
    display: flex;
	justify-content: center;
    margin-top: 30px;
}

.circle-img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
	object-fit: cover;
	border:solid #111827;
    
}
header {
    text-align: center;
	padding:20px;
}
nav {
    background-color: #111827;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 12px;
}
nav ul li {
    margin: 0 20px;
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
	color:orange;
}

section {
    background-color: white;
    margin: 30px auto;
    padding: 25px;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

section h1 {
    margin-bottom: 15px;
    color: #111827;
}

#skills ul {
    margin-left: 20px;
}

#skills li {
    margin-bottom: 8px;
}
#contact a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

#contact a:hover {
    text-decoration: underline;
}

.resume-btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#1f3a93;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.resume-btn:hover{
    background:#3457d5;
    text-align:center;
}

footer {
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 40px;
}